<article class="query-bar">
    <section class="section-search">
        <div class="container-figure">
            <figure class="icon-search">
                <img src="../../../assets/img/icon-search.svg" alt="search">
            </figure>
            <input #search (keyup)="buscar(search.value)" type="search" class="search" id="search" placeholder="Search for a country...">
        </div>
    </section>

    <select #region (click)="selection(region.value)" class="select-region" name="region" id="region">
        <option value="selecciona">Filter by Region</option>
        <option *ngFor="let region of regiones" value="{{region}}">{{ region }}</option>
    </select>
</article>

<article class="container-countries">
    <div class="list-countries">
        <section class="country-card" *ngFor="let countrie of countries">
            <figure class="figure-country">
                <img src="{{ countrie.flags.png }}" alt="{{ countrie.name.common }}">
            </figure>
            <section class="info-country">
                <h2>{{ countrie.name.common }}</h2>
                <p><strong>Population:</strong> {{ countrie.population | number }}</p> <br>
                <p><strong>Region:</strong> {{ countrie.region }}</p> <br>
                <p><strong>Capital:</strong> {{ countrie.capital }}</p>
            </section>
        </section>
    </div>
</article>