<article class="query-bar">
    <section class="section-search">
        <div class="container-figure">
            <figure class="icon-search">
                <img src="../../../assets/img/icon-search.svg" alt="search">
            </figure>
            <input #searchInput type="search" class="search" id="search" placeholder="Search for a country...">
        </div>
    </section>

    <select #region class="select-region" name="region" id="region">
        <option value="all">Filter by Region</option> 
        <option *ngFor="let region of regiones" value="{{region}}">{{ region }}</option>
    </select>
</article>

<app-cards></app-cards>
