<section class="section-btn-return">
    <button class="btn-return" routerLink="/home"></button>
</section>

<article class="article-countrie">
    <section class="section-countrie">
        <figure class="flag-countrie">
            <img class="img-flag" src="{{ countrie?.flags?.svg }}" alt="{{ countrie?.name?.common }}">
        </figure>
        <section class="details-countrie">
            <div class="info-countrie">
                <div class="countrie-name">
                    <h1>{{ countrie?.name?.common }}</h1>
                    <p class="native-name"><strong>Native Name: </strong><span>{{ countrie?.name?.official }}</span></p>
                    <p class="population"><strong>Population: </strong><span>{{ countrie.population | number }}</span></p>
                    <p class="region"><strong>Region: </strong><span>{{ countrie.region }}</span></p>
                    <p class="sub-region"><strong>Sub Region: </strong><span>{{ countrie.subregion }}</span></p>
                    <p class="capital"><strong>Capital: </strong><span>{{ countrie.capital }}</span></p>
                </div>
                <div class="countrie-lenguages">
                    <p class="top-domain"><strong>Top Level Domain: </strong><span>{{ countrie.tld }}</span></p>
                    <p class="currencie" *ngFor="let currencie of countrie.currencies | keyvalue "><strong>Currencies: </strong><span>{{ currencie.key }}</span></p>
                    <p class="language" *ngFor="let language of countrie.languages | keyvalue"><strong>Languages: </strong><span>{{ language.key }}</span></p>   
                </div>
            </div>
            <div class="section-borders">
                <p class="border-countrie"><strong>Border Countries:</strong></p>
                <div class="container-buttons">
                    <button class="btn-borders" *ngFor="let border of countrie.borders">{{ border }}</button>
                </div>
            </div>
           
        </section>
    </section>
</article>
