//Importamos la libreria del estilo de letra Nunito Sans
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');


// Variables
$style-letter: 'Nunito Sans', Arial, Helvetica;

//Mixins
@mixin centrar(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centrar-col(){
    display: flex;
    justify-content: center;
}

*{
    padding: 0px;
    margin: 0px;
    border-style: none;
}

body {
    width: auto;
    height: 100vh;
    font-family: $style-letter;

    .menu {
        width: auto;
        height: auto;
        margin-bottom: 30px;

        ul {
            width: auto;
            padding: 15px;
            display: flex;
            flex-direction: row;
            li {
                width: 50%;
                list-style: none;
                display: flex;
                align-items: center;
                a {
                    font-size: 18px;
                    font-weight: 800;
                    text-decoration: none;
                }
                
            }
            .btn-list{
                display: inline-flex;
                justify-content: flex-end;
                .btn-theme {
                    width: 130px;
                    height: 50px;
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
    }

    .query-bar {
        width: auto;
        padding: 15px;
        height: auto;
        display: flex;
        flex-direction: column;
        .section-search {
            width: auto;
            @include centrar-col();
            overflow: hidden;
            margin-bottom: 20px;
            border-radius: 10px;
            .container-figure {
                width: 100%;
                display: inline-flex;
                border-radius: 10px;
                overflow: hidden;
                .icon-search{
                    width: 50px;
                    height: 50px;
                    @include centrar();
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
                .search {
                    width: 100%;
                    text-align: center;
                    line-height: 25px;
                    font-weight: 300;
                    font-size: 16px;
                    background-color: transparent;
                }
            } 
        }
        .select-region {
            width: 200px;
            height: 50px;
            border-radius: 10px;
            font-weight: 300;
            font-size: 16px;
            padding-left: 20px;
            margin-bottom: 20px;
            option {
                height: inherit;
            }
        }
    }
    .container-countries{
        width: auto;
        height: auto;
        padding: 15px;
        .list-countries{
            width: auto;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            .country-card{
                width: 100%;
                height: auto;
                border-radius: 5px;
                overflow: auto;
                background-color: gray;
                margin-bottom: 50px;
                .figure-country{
                    width: auto;
                    height: auto;
                    margin-bottom: 20px;
                    img{
                        width: 100%;
                    }
                }
                .info-country{
                    width: auto;
                    height: auto;
                    padding: 20px;
                    margin-bottom: 30px;
                    h2{
                        font-weight: 800;
                        font-size: 20px;
                        margin-bottom: 15px;
                    }
                    p{
                        strong{
                            font-weight: 600;
                        }
                        margin-top: 0px;
                        font-weight: 300;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}