// Mobile firts 

@media screen and (min-width: 480px) {
    body {
        .menu {
            display: flex;
            justify-content: center;
            ul {
                width: 90%;
            }
        }
        .query-bar {
            padding: 30px;
        }
        .container-countries {
            display: flex;
            justify-content: center;
            padding: 10px;
            .list-countries{
                width: 90%;
            }
        }
    }
}

@media screen and (min-width: 640px) {
    body {
        .menu {
            margin-bottom: 0px;
        }
        .query-bar {
            padding: 40px;
        }
        .container-countries {
            .list-countries {
                justify-content: space-between;
                .country-card {
                    width: calc(50% - 15px);
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {
    body {
        .query-bar {
            flex-direction: row;
            justify-content: flex-end;
            .section-search {
                width: 60%;
                margin-right: 30px;
                .container-figure {
                    width: 100%;
                }
            }
            .select-region {
                width: 30%;
                margin-left: 100px; 
            }
        }
        .container-countries {
            .list-countries {
                justify-content: space-between;
                .country-card {
                    width: calc(33% - 15px);
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) { 
    body {
        .query-bar {
            padding-left: 70px;
            padding-right: 70px;
        }
        .container-countries {
            .list-countries {
                justify-content: space-between;
                .country-card {
                    width: calc(25% - 15px);
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;

        .menu {
            width: 1440px;
        }
        .query-bar { 
            width: 1300px;
        }
        .container-countries{
            width: 1420px;
        }
        footer{
            width: 1440px;
        }
    }
}