// Mobile firts 

@media screen and (min-width: 480px) {
    body {
        .menu {
            display: flex;
            justify-content: center;
            ul {
                width: 90%;
            }
        }
        .query-bar {
            padding: 30px;
            .section-search {
                background-color: red !important;
            }
        }
        .container-countries {
            display: flex;
            justify-content: center;
            .list-countries{
                width: 90%;
            }
        }
    }
}