// Mobile firts 

@media screen and (min-width: 480px) {
    body {
        .menu {
            display: flex;
            justify-content: center;
            ul {
                width: 90%;
            }
        }
        .query-bar {
            padding: 30px;
        }
        .container-countries {
            display: flex;
            justify-content: center;
            padding: 10px;
            .list-countries{
                width: 90%;
                .country-card{
                    .figure-country{
                        img{
                            height: 270px;
                        }
                    }
                }
            }
        }
        /****************************** Countrie Component ************************/
         .section-btn-return {
            padding: 30px;
        }
        .article-countrie {
            padding: 30px;
        }
    }
}

@media screen and (min-width: 640px) {
    body {
        .menu {
            margin-bottom: 0px;
        }
        .query-bar {
            padding: 40px;
        }
        .container-countries {
            .list-countries {
                justify-content: space-between;
                .country-card {
                    width: calc(50% - 15px);
                    .figure-country{
                        img{
                             height: 230px;
                        }
                    }
                }
            }
        }
        /****************************** Countrie Component ************************/
        .section-btn-return {
            padding: 40px;
        }
        .article-countrie {
            padding: 40px;
        }
    }
}

@media screen and (min-width: 800px) {
    body {
        .query-bar {
            flex-direction: row;
            justify-content: flex-end;
            .section-search {
                width: 60%;
                margin-right: 30px;
                .container-figure {
                    width: 100%;
                }
            }
            .select-region {
                width: 30%;
                margin-left: 100px; 
            }
        }
        .container-countries {
            .list-countries {
                justify-content: space-between;
                .country-card {
                    width: calc(33% - 15px);
                    .figure-country{
                        img{
                            height: 220px;
                        }
                    }
                }
            }
        }
        /****************************** Countrie Component ************************/
        .section-btn-return {
            padding: 30px 60px 10px 60px;
        }
        .article-countrie {
            padding: 60px;
        }
    }
}

@media screen and (min-width: 999px) {
    body {
        .section-btn-return {
            padding-bottom: 0px;
        }
        .article-countrie {
            padding-top: 30px;
            .section-countrie {
                display: flex;
                height: 500px;
                .flag-countrie{
                    width: 40%;
                    height: 100%;
                    margin-bottom: 30px;
                    .img-flag {
                        width: 100%;
                        height: 55%;
                    }
                }
                .details-countrie {
                    width: 55%;
                    margin-left: 30px;
                    .info-countrie {
                        display: flex;
                        .countrie-name {
                            width: 55%;
                            margin-bottom: 30px;
                        }
                        .countrie-lenguages{
                            width: 45%;
                            margin-top: 70px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) { 
    body {
        .query-bar {
            padding-left: 70px;
            padding-right: 70px;
        }
        .container-countries {
            .list-countries {
                justify-content: space-between;
                .country-card {
                    width: calc(25% - 15px);
                }
            }
        }
        /****************************** Countrie Component ************************/
        .section-btn-return {
            .btn-return {
                width: 100px;
                height: 45px;
            }
        }
        .article-countrie {
            padding-left: 70px;
            padding-right: 70px;
            padding-bottom: 30px;
            .section-countrie {
                height: 450px;
                .flag-countrie{
                    .img-flag {
                        width: 100%;
                        height: 70%;
                    }
                }
                .details-countrie {
                    .info-countrie {
                        margin-bottom: 10px;
                        .countrie-name {
                            margin-bottom: 15px;
                            h1 {
                                margin-bottom: 20px;
                            }
                        }
                        .countrie-lenguages{
                            margin-top: 60px;
                        }
                    }
                    .section-borders { 
                        margin-bottom: 20px;
                        .border-countrie { 
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;

        .menu {
            width: 1440px;
        }
        .query-bar { 
            width: 1300px;
        }
        .container-countries{
            width: 1420px;
        }
    }
}