// Estilo modo Oscuro
.dark {
    background-color: $very-dark-blue;
    .menu{
        background-color: $dark-blue;
        box-shadow: 0px 10px 10px 5px #1F2A35;
        ul{
            .redirection{
                a{
                    color: $white;
                }
            }
            .btn-list{
                .btn-theme {
                    background: url('../img/icon-dark.svg');
                    filter: invert(1);
                    background-repeat: no-repeat;
                    background-position: 0% 50%;
                    background-size: 25px 25px;
                    &::after {
                        content: "Dark Mode";
                        padding-left: 15px;
                    }
                }
            }
        }
    }
    .query-bar {
        .section-search {
            box-shadow: 0px 10px 10px 5px #1F2A35;
            .container-figure {
                background-color: $dark-blue;
                .icon-search{
                    img {
                        filter: invert(1);
                    }
                }
                .search {
                    background-color: $dark-blue;
                    color: $white;
                }
                ::placeholder {
                    color: $white;
                }
            }
        }
        .select-region {
            background-color: $dark-blue;
            color: $white;
            box-shadow: 0px 10px 10px 5px #1F2A35;
            option {
                background-color: $dark-blue;
                box-shadow: 0px 10px 10px 5px #1F2A35;
            }
        }
    }
    .container-countries{
        .list-countries{
            .country-card{
                background-color: $dark-blue;
                box-shadow: 0px 10px 10px 5px #1F2A35;
                .info-country{
                    color: $white;
                }
            }
        }
    }

     /****************************** Countrie Component ************************/
     .section-btn-return {
        .btn-return {
            background-color: $dark-blue;
            box-shadow: 0px 10px 15px 15px #1F2A35;
            &::after {
                filter: invert(1);
            }
        }
     }
}