// Estilos modo claro
.light {
    background-color: $very-ligh-gray;
    .menu{
        background-color: $white;
        box-shadow: 0px 5px 10px 5px #EEEEEE;
        ul{
            .redirection{
                a{
                    color: $very-dark-blue-2;
                }
            }
            .btn-list{
                .btn-theme {
                    background: url('../img/icon-light.svg');
                    background-repeat: no-repeat;
                    background-position: 0% 50%;
                    background-size: 25px 25px;
                    &::after {
                        content: "Light Mode";
                        padding-left: 15px;
                    }
                }
            }
        }
    }
    .query-bar {
        .section-search {
            box-shadow: 0px 5px 10px 5px #EEEEEE;
            .container-figure {
                background-color: $white;
                .icon-search{
                    img {
                        filter: invert(.5);
                    }
                }
                .search {
                    background-color: $white;
                }
            }
        }
        .select-region {
            background-color: $white;
            box-shadow: 0px 5px 10px 5px #EEEEEE;
            option {
                background-color: $white;
                box-shadow: 0px 5px 10px 5px #EEEEEE;
            }
        }
    }
}